:root {
    background-color: lightblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-size: ; */
    font-family: 'Vidaloka', sans-serif;
    color: white;
}

.h1 {
    font-size: 5.4rem;
    color: ghostwhite;
    margin-bottom: 5rem;
}

.title-of-game {
    margin-bottom: 10%;
}

.h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding:2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* thank you to MrPirrera codepen.io for the button gradient design */

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    border-radius: 15px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(146, 84, 128);
    transition: transform 150ms;
    transform: 1.03;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background-image: linear-gradient(to right, #801d5b 0%, #8fd3f4 51%, #ffffff 100%);

}

.fa-crown {
    font-size: 2.5;
    margin-left: 1rem;
}


/* CSS for Game Page */
.choice-container {
    display:flex;
    background-color: rgba(184, 39, 167, 0.6);
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 15px;
    font-size: 3rem;
    min-width: 80rem;
}

#question {
    margin-bottom: 2.5rem;
}

#score {
    display: flex;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, .9);
    transform:scale(1.02);
    transform: 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: rgba(93, 210, 67,.6);
}

.incorrect {
    background-color: rgba(204, 58, 58, 0.6);
}

/* Heads up Display on Game Page */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    margin-top: 200px;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(110, 0, 144);
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(110, 0, 144);
    width: 0%;
}

/* Styling for timer */

.timer {
    display: none;
}

/* CSS for End Page */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width:20rem;
    padding:1.5rem;
    font-size: 1.8rem;
    border: none;
    color: #fbc2eb;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, .9);
}

input::placeholder {
    color: #fbc2eb;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color:#ffffff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: black;
}

/* CSS for High Score Page */

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}


/* Media Query for Game Page */

@media screen and (max-width:768px) {
    .choice-container {
        min-width: 40rem;
        background: 0.2rem solid rgb(8, 0, 255);
        width: 0%;
    }
}
