* {
    margin: 0;
    padding: 0;
}

.choice-container {
    display:flex;
    background-color: rgba(184, 39, 167, 0.6);
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 15px;
    font-size: 3rem;
    min-width: 80rem;
}

#question {
    margin-bottom: 2.5rem;
}

#score {
    display: flex;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, .9);
    transform:scale(1.02);
    transform: 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: rgba(93, 210, 67,.6);
}

.incorrect {
    background-color: rgba(204, 58, 58, 0.6);
}

/* Heads up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(110, 0, 144);
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(110, 0, 144);
    width: 0%;
}


@media screen and (max-width:768px) {
    .choice-container {
        min-width: 40rem;
        background: 0.2rem solid rgb(8, 0, 255);
        width: 0%;
    }
}